@import './utils/fonts';
@import './utils/variables';
@import './components/forms';
@import './components/benefits-section';
@import './components/modal';
@import './components/swiper';
@import './components/header';
@import './components/mobile-menu';

/* Base settings */
// * {
//     border: 1px solid red !important;
// }

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0;
}

.section {
    padding: 20px 16px;
    @media screen and (min-width:$bp-desktop){
    padding: 48px 0;}
    
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


img{
    width: 100%;
    height: auto;
}


body {
    color: var(--color-primary-dark);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    background-color: #faf4ea;

    @media screen and (min-width:$bp-tablet) {
    font-size: 18px;     
    font-weight: 400;   }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1288px;
    @media screen and (min-width:$bp-tablet){
    padding: 0 24px;}
}


/* Hero section */
.hero-section {
display: flex;
flex-direction: column;
justify-content: center;
min-height: 600px;
    background-image: linear-gradient(102deg,
            rgba(18, 18, 18, 0.7) 2%,
            rgba(18, 18, 18, 0.6) 58%,
            rgba(18, 18, 18, 0) 90%),
        url("../images/herobg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    @media screen and (min-width:$bp-tablet){
            padding: 272px 0;
    }

&__button{
    display: block;
margin: 0 auto;

    @media screen and (min-width:$bp-desktop) {
display: none;        }
    
}
}

.hero-title {
    color: blanchedalmond;
    font-family: "Poppins", sans-serif;
    text-decoration: double;
    text-align: center;
    font-size: 67px;
    line-height: 1;
    margin-bottom: 48px;

    @media screen and (min-width:$bp-mobile) {
            font-size: 98px;
            text-wrap: wrap;
            line-height: 1.5;
        
    }
        @media screen and (min-width:$bp-tablet) {
            font-size: 128px;
            text-wrap: wrap;
            line-height: 1.5;
    
        }
}

.hero-title .accent {
    color: var(--color-brand);
}

/* CTA */
.button {
    color: whitesmoke;
    background-color: #819857;
    border: 2px solid #819857;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    padding: 16px 32px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.button:hover {
    color: var(--color-brand);
    background-color: transparent;
}

.button:active {
    background-color: black;
    color: white;
}

/* menu */
.menu-header {
    color: blanchedalmond;
    text-decoration: none;
    transition: color 0.2s;
}

.menu-header:hover {
    color: var(--color-brand);
    font-weight: 600;
}
// /* extra elements */
// .benefits-section {
//     background-color: var(--color-brand);
//     padding: 16px 0;
// }

// .benefits-list {
//     display: flex;
//     justify-content: space-between;
//     gap: 24px;
//     color: blanchedalmond;
//     font-size: 20px;
//     font-weight: 300;
// }
/* text sections */

.traditions-section {
    display: flex;
    padding-top: 20px;
    @media screen and (min-width:$bp-tablet) {padding-top: 96px;}
}

.traditions-title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;
    @media screen and (min-width:$bp-tablet) {
            margin-bottom: 42px;
                text-align: left;
                font-size: 64px;
                font-weight: 900;
                line-height: 1.3;
    
        }

}

.traditions-title span {
    color: var(--color-brand);
}

.traditions-container {
    display: flex;
    gap: 0;
    @media screen and (min-width:$bp-tablet) {
            gap: 30px;
        }
    @media screen and (min-width:$bp-desktop){
    gap: 100px;}
}

.traditions-text {
    max-width: 710px;
}

.traditions-text :nth-child(3) {
    max-width: 400px;
}

.chefs-title {
    margin: 0 auto 24px;
    @media screen and (min-width:$bp-tablet) {
            margin: 0 auto 80px;
                position: relative;
        }
}

.chef-container {
    display: flex;
}

.chef-section {
    padding-bottom: 48px;
}

.chefs-title:after {
    display: none;
    @media screen and (min-width:$bp-desktop){
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand);
    content: "";
    position: absolute;
    right: 0;
    bottom: 24px;}
}

.chefs-title:before {
    display: none;
    
        @media screen and (min-width:$bp-desktop) {
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand);
    content: "";
    position: absolute;
    left: 0;
    bottom: 24px;}
}

.types-title {
    margin-bottom: 20px;
    @media screen and (min-width:$bp-tablet){
    margin-bottom: 80px;
    }
}

.contact-title {
    text-align: center;
    margin-bottom: 16px;
    @media screen and (min-width:$bp-tablet){
        text-align: left;
    }
}

.section-title {
    color: rgb(24, 24, 24);
    font-size: 32px;
    font-weight: 900;
    line-height: 1.3;
        
@media screen and (min-width:$bp-tablet){
        font-size: 64px;
}
}

.section-title.centered {
    text-align: center;
}

.chef-name {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    @media screen and (min-width:$bp-tablet) {
            font-size: 40px;
        }
}

.chef-photo {
    width: 140px;
    height: 100%;
    border-radius: 4px 4px 4px 1000px;
    box-shadow: -8px 8px 0 0 var(--color-privary-light), -8px 8px 0 2px;
        @media screen and (min-width:$bp-desktop) 
        { box-shadow: -16px 16px 0 0 var(--color-privary-light), -16px 16px 0 2px;
            width:240px ;}
}

.chef-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width:$bp-tablet){
    gap: 40px 30px;
    flex-direction: row;
}
}

.chef-item {
    flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
    display: flex;
    gap: 30px;
    @media screen and (min-width:$bp-tablet){
        gap: 16px;
    }

}

.traditions-text {
    flex-grow: 1;
}

.baker-photo-section{
    flex-grow: 1;
}
.baker-photo {
    display: none;
    border-radius: 400px 400px 0px 0px;
    height: 460px;
    width: auto;
    @media screen and (min-width:$bp-tablet) {display: block;}
}

.traditions-text .brand {
    color: var(--color-brand);
    font-weight: 600;
}

.traditions-text .uppercase {
    text-transform: uppercase;
}


.card {
    color: var(--color-privary-light);
    font-size: 24px;
    font-weight: 600;
}

.card-description {
    color: var(--color-privary-light);
    font-size: 14px;
    font-weight: 300;
}

.card-box:hover {
    transform: scale(1.05);
}



.container-carousel {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: flex-start;
    @media screen and (min-width:$bp-desktop) {
    justify-content: space-around;}
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
@media screen and (min-width:$bp-tablet) {
        flex-direction: row;
        gap: 42px;
    }

}


.google-map {
        align-items: center;
    flex-shrink: 0;
    border: 0;
    border-radius: 16px;
    width: 100%;
    height: 100px;
@media screen and (min-width:$bp-tablet){
    position: relative;
    width: initial;
    height: 600px;
}
@media screen and (min-width:$bp-desktop) {
    position: relative;
    width: 600px;
    height: 600px;
}
   
}

.contact-section {
    padding-bottom: none;
    @media screen and (min-width:$bp-desktop){
        padding-bottom: 96px;
    }
}

/* footer */
.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 32px;
    margin-bottom: 0;
    background-color: var(--color-brand);
}

.footer-menu {
    color: #fcf7f1;
    text-decoration: none;
}

.footer-menu:hover {
    color: var(--color-primary-dark);
}

.footer-contact {
    color: #fcf7f1;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}
.social-icons{
    display: flex;
}
.footer-copyright {
    color: #fcf7f1;
    font-size: 14px;
    font-weight: 400;
}

.social-media {
    fill: var(--color-privary-light);
}

.social-media:hover {
    fill: var(--color-primary-dark);
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media screen and (min-width:$bp-tablet){
        flex-direction: row;
        align-items: flex-start;
        gap: none
        ;
    }
}

.footer-address {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    
        @media screen and (min-width:$bp-tablet) {
            flex-direction: row;
            align-items: flex-start;
        }
}

.footer-nav {
    flex-basis: 50%;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    
        @media screen and (min-width:$bp-tablet) {
            flex-direction: row;
                gap: 20px;
        }
}

.footer-logo,
.footer-list,
.footer-address-list,
.privacy-policy {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
        @media screen and (min-width:$bp-tablet) {
            gap: 8px;
        }
}

.footer::before {
    background-image: url(../images/bread.png);
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 155px;
    height: 300px;
    top:0;
    left: -55px;
    transform: rotate(11deg);
    @media screen and (min-width:$bp-desktop) {
            width: 120px;
                height: 150px;
                bottom: -0;

        
        }
}

.footer::after {
    background-image: url(../images/bread.png);
    content: "";
    position: absolute;
    right: 20px;
    background-repeat: no-repeat;
    width: 120px;
    height: 150px;
    bottom: 0;
    right: -20px;
    @media screen and (min-width:$bp-desktop) {
            width: 120px;
            height: 150px;
            bottom: -0;}
}

/* modal popup */
.backdrop {
    padding: 20px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.4s, visibility 0.4s;
    
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    background-color: var(--color-privary-light);
    border-radius: 32px;
    padding: 48px;
    overflow-y: auto;
    @media screen and (min-width:$bp-tablet){
        padding: 128px;
    }
    
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
    border: none;
    background-color: transparent;
   &:hover {
            background-color: var(--color-brand);
            opacity: 0.8;
            border-radius: 10px;
        }
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.input {
    padding: 16px 42px;
    width: 100%;
    border: 1px solid var(--color-brand);
    border-radius: 8px;
    background-color: transparent;
    font-size: 18px;
}

.input:focus {
    border: 1px solid var(--color-primary-dark);
    outline: none;
}

.input-label {
    left: 42px;
    top: 16px;
    position: absolute;
    font-size: 16px;
    transition: 0.4s;
    color: #31261a;
}

.form-input {
    position: relative;
    margin-bottom: 32px;
}
// experiement//

.field {
    position: relative;

  &__label {
            left: 42px;
            top: 16px;
            position: absolute;
            font-size: 16px;
            transition: 0.4s;
            color: #31261a;
  }
  &__input {
         padding: 16px 42px;
           width: 100%;
              border: 1px solid var(--color-brand);
              border-radius: 8px;
               background-color: transparent;
               font-size: 18px;

     &:focus{
                        border: 1.5px solid var(--color-primary-dark);
                            outline: none;
                    }
                }
                & input:valid+ &__label,
& input:focus+ &__label {
    transform: translate(-16px, -30px);
    color: black;
    pointer-events: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 16px;
    font-size: 14px;
    background-color: var(--color-privary-light);
}
}




.form-input {
    position: relative;
    margin-bottom: 32px;
}






//  รท

.contact-section__form-input {
    position: relative;
    margin-bottom: 24px;
}
.form-input input:valid+.input-label,
.form-input input:focus+.input-label {
    transform: translate(-16px, -30px);
    color: black;
    pointer-events: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 16px;
    font-size: 14px;
    background-color: var(--color-privary-light);
}

.form-button {
    display: block;
    margin: 0 auto 24px;
}

.form-text {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    max-width: 220px;
    margin: 0 auto;
}

.form-text-link {
    color: var(--color-primary-dark);
    text-underline-offset: 5px;
}

.form-text-centered {
    text-align: center;
    margin-bottom: 42px;
}

.form-title {
    margin-bottom: 20px;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    z-index: -1;
}

.card-box {
            transition: transform 0.5s;
            overflow: hidden;

    &__container{
        display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            height: 444px;
            width: 320px;
            padding: 24px;
            border: 1px solid var(--color-brand);
            border-radius: 20px;
            transition: transform 0.5s;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background: linear-gradient(180deg,
                    rgba(238, 237, 245, 0.2091211484593838) 0%,
                    rgba(11, 29, 33, 1) 95%);
    }
}

